<!--
 surveys (Simple online surveys application)
 
 Copyright 2015 IBM Corp. All Rights Reserved
 
 
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!-- partials/thanks.html -->

<div class="container">
    <div class="row row-centered">
        <h2>Thank you for your vote!</h2>
    </div>
    <div class="row row-centered">
        <div class="col-xs-12 col-centered col-max">
            Hold on until the end of this session to see the overall statistics within the Hall.
            <hr/>
            
            <!--a href="/reports"><b>>> See result !</b></a-->
        </div>
    </div>
</div>